body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#logo {
    display: flex;
    margin: 2em auto;
    width: 20em;
}

#container {
    margin: auto;
    max-width: 720px;

}

#video {
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: olive;
}

a:hover {
    /* Qaundo passo sul link si sottolinea */
    text-decoration:underline; 
}

h1 {
    text-align: center;
    font-size: 2em;
}
 
#bg-light {
    color: rgb(100, 187, 216);
    background-color: rgba(235, 214, 187, 0.205);
    height: 3.5em;
    border-top: 3px solid rgb(252, 222, 182);
    text-align: center;
}

#bg-light > span{
    font-weight: 1000;
}


#img-description {
    color: grey;
    text-align: center;
}

#feature {
    border-left: 1px solid rgb(247, 176, 45);
    padding-left: 1em;
    margin-bottom: 3em;
    margin-top: 3em;
}

#feature > p {
    color: orange;
    margin-bottom: 0;
}

#line {
    border-bottom: 2px solid lightblue;
}

#method {
    margin-left: 2em;
}

article > h4 {
    margin-left: 1em;
}